<aside
    class="sidebar" [class.collapsed]="collapsed">
    <div class="logo">
        <i class="pi pi-shield"></i>
        @if (!collapsed) {
            <span>Users Management</span>
        }
    </div>

    <nav>
        <a routerLink="/dashboard" routerLinkActive="active">
            <i class="pi pi-home"></i>
            @if (!collapsed) {
                <span>Dashboard</span>
            }
        </a>
        <a *appHasPermission="permissions.USER_VIEW" routerLink="/users" routerLinkActive="active">
            <i class="pi pi-users"></i>
            @if (!collapsed) {
                <span>Users</span>
            }
        </a>
        <a *appHasPermission="permissions.ROLE_VIEW" routerLink="/roles" routerLinkActive="active">
            <i class="pi pi-id-card"></i>
            @if (!collapsed) {
                <span>Roles</span>
            }
        </a>
        <a *appHasPermission="permissions.PERMISSION_VIEW" routerLink="/permissions" routerLinkActive="active">
            <i class="pi pi-key"></i>
            @if (!collapsed) {
                <span>Permissions</span>
            }
        </a>
        <a *appHasPermission="permissions.AUDIT_VIEW" routerLink="/audits" routerLinkActive="active">
            <i class="pi pi-history"></i>
            @if (!collapsed) {
                <span>Audits</span>
            }
        </a>

    </nav>

</aside>