<div class="audit-detail-page">
    <div class="page-header">
        <div>
            <h2>{{ 'audits.detailTitle' | translate }}</h2>
            <span class="subtitle">
                {{ 'audits.subtitle' | translate }}
            </span>
        </div>
        <button pButton icon="pi pi-arrow-left" [label]="'common.back' | translate" severity="secondary" [routerLink]="['/audits']"></button>
    </div>

    @if (audit) {
    <p-card>
        <div class="detail-grid">
            <div class="item">
                <label>{{ 'audits.fields.action' | translate }}</label>
                <p-tag [value]="audit.action"></p-tag>
            </div>
            <div class="item">
                <label>{{ 'audits.fields.actor' | translate }}</label>
                <span>{{ audit.actor }}</span>
            </div>
            <div class="item">
                <label>{{ 'audits.fields.actorId' | translate }}</label>
                <span>{{ audit.actorId || '-' }}</span>
            </div>
            <div class="item">
                <label>{{ 'audits.fields.entityType' | translate }}</label>
                <span>{{ audit.entityType }}</span>
            </div>
            <div class="item">
                <label>{{ 'audits.fields.entityId' | translate }}</label>
                <span>{{ audit.entityId }}</span>
            </div>
            <div class="item">
                <label>{{ 'audits.fields.targetUser' | translate }}</label>
                <span>{{ audit.targetUserId || '-' }}</span>
            </div>
            <div class="item">
                <label>{{ 'audits.fields.ipAddress' | translate }}</label>
                <span>{{ audit.ipAddress || '-' }}</span>
            </div>
            <div class="item">
                <label>{{ 'audits.fields.timestamp' | translate }}</label>
                <span>
                    {{ audit.eventTimestamp | date:'dd/MM/yyyy HH:mm:ss' }}
                </span>
            </div>
            <div class="item full-row">
                <label>{{ 'audits.fields.reason' | translate }}</label>
                <span>{{ audit.reason || '-' }}</span>
            </div>
        </div>

        
        <div class="json-section">
            <h4>{{ 'audits.fields.beforeData' | translate }}</h4>
            <pre>{{ formatJson(audit.beforeData) }} </pre>
        </div>
        
        <div class="json-section">
            <h4>{{ 'audits.fields.afterData' | translate }}</h4>
            <pre>{{ formatJson(audit.afterData) }}</pre>
        </div>

        @if (audit.metadata) {
        <div class="json-section">
            <h4>{{ 'audits.fields.metadata' | translate }}</h4>
            <pre>{{ formatJson(audit.metadata) }}</pre>
        </div>
        }
    </p-card>
    }
</div>