.p-toast {
    width: 10rem;
}
.p-toast .p-toast-message {
    border-radius: 12px;
    box-shadow:0 10px 25px rgba(0, 0, 0, 0.12);
}
.p-toast .p-toast-message-content {
    padding: 1rem;
}
.p-toast-summary {
    font-weight: 600;
    font-size: 0.95rem;
}
.p-toast-detail {
    font-size: 0.9rem;
    margin-top: 0.25rem;
}
/* SUCCESS */
.p-toast-message-success {
    border-left: 5px solid #22c55e;
}
/* ERROR */
.p-toast-message-error {
    border-left: 5px solid #ef4444;
}
/* WARNING */
.p-toast-message-warn {
    border-left: 5px solid #f59e0b;
}
/* INFO */
.p-toast-message-info {
    border-left: 5px solid #3b82f6;
}