<div class="login-page">
    <div class="login-wrapper">
        <p-card class="login-card">
            <div class="login-header">
                <h1>Đổi mật khẩu</h1>
            </div>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="field">
                    <label>Mật khẩu mới<span class="required">*</span></label>
                    <p-password formControlName="newPassword" [feedback]="true" [toggleMask]="true"></p-password>
                    @if (form.controls.newPassword.touched) {
                        @if (form.controls.newPassword.errors?.['required']) {
                            <small class="error-text">Mật khẩu mới không được để trống</small>
                        }
                        @if (form.controls.newPassword.errors?.['minlength']) {
                            <small class="error-text">Mật khẩu phải có ít nhất 8 ký tự</small>
                        }
                        @if (form.controls.newPassword.errors?.['maxlength']) {
                            <small class="error-text">Mật khẩu không được vượt quá 100 ký tự</small>
                        }
                        @if (form.controls.newPassword.errors?.['strongPassword']) {
                            <small class="error-text">
                                Mật khẩu phải chứa:
                                chữ cái in hoa,
                                chữ cái in thường,
                                số và ký tự đặc biệt
                            </small>
                        }
                    }
                </div>
                <div class="field">
                    <label>Xác nhận mật khẩu<span class="required">*</span></label>
                    <p-password formControlName="confirmPassword" [feedback]="false" [toggleMask]="true"></p-password>
                    @if (passwordMismatch()) {
                        <small class="error-text">Xác nhận mật khẩu không khớp</small>
                    }
                </div>
                <button pButton type="submit" label="Đổi mật khẩu" [loading]="loading"></button>
            </form>
            <!-- <div class="link-page">
                <a routerLink="/login">Quay lại đăng nhập</a>
            </div> -->
        </p-card>
    </div>
</div>