<div class="audit-page">
    <div class="page-header">
        <div>
            <h2>Audit Logs</h2>
        </div>
    </div>
    <p-card>
        <div class="toolbar">
            <p-iconfield class="audit-search">
                <p-inputicon styleClass="pi pi-search">
                </p-inputicon>
                <input pInputText type="text" placeholder="Search action, actor, entity..." [(ngModel)]="keyword"
                    (ngModelChange)="onSearchChange($event)" />
                <button *ngIf="keyword" pButton type="button" icon="pi pi-times" text rounded class="clear-btn"
                    (click)="clearFilter()">
                </button>
            </p-iconfield>
        </div>

        <p-table [value]="audits" [loading]="loading" [lazy]="true" [paginator]="true" [rows]="pageSize"
            [totalRecords]="totalRecords" (onLazyLoad)="onLazyLoad($event)" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Action</th>
                    <th>Actor</th>
                    <th>Entity</th>
                    <th>Time</th>
                    <th width="120">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        <p-tag [value]="item.action"></p-tag>
                    </td>
                    <td>{{ item.actor }}</td>

                    <td>{{ item.entityType }}</td>
                    <td>
                        {{ item.eventTimestamp | date:'dd/MM/yyyy HH:mm:ss' }}
                    </td>
                    <td>
                        <a [routerLink]="['/audits', item.id]">
                            Detail
                        </a>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5" class="empty-message">
                        No audit logs found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>