<header class="topbar">

    <div class="left-section">
        <!-- [icon]="collapsed ? 'pi pi-bars' : 'pi pi-angle-left'" -->
        <button pButton text severity="secondary" [icon]="'pi pi-bars'" (click)="toggleSidebar.emit()"></button>
        <div class="page-title">
            {{ 'sidebar.title' | translate }}
        </div>

    </div>
    <div class="actions">
        <span class="username">
            <i class="pi pi-user"></i>
            {{ username }}
        </span>
        <button pButton text rounded
            [icon]="themeService.isDark() ? 'pi pi-sun' : 'pi pi-moon'"
            severity="secondary"
            (click)="themeService.toggleTheme()"
            aria-label="Toggle Theme">
        </button>
        <button pButton text rounded
            severity="secondary"
            (click)="toggleLanguage()"
            [label]="translationService.currentLang() === 'vi' ? 'EN' : 'VI'"
            [icon]="'pi pi-globe'"
            aria-label="Toggle Language">
        </button>
        <button pButton severity="secondary" icon="pi pi-lock" [label]="'topbar.changePassword' | translate" routerLink="/change-password"></button>
        <button pButton severity="danger" icon="pi pi-sign-out" [label]="'topbar.logout' | translate" (click)="logout()"></button>
    </div>

</header>